{% extends 'base.html' %}
{% block content %}
<head>
    <style>
    .btns{
        margin:auto;
        flex-direction:row;
        align-items:center;
    }
    .content{
        padding:2em;
    }
    .graph{
        margin:0 auto;
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    </style>
    {% load static %}
    <!-- CORS library -->
    <script type="text/javascript" src="{% static 'js/jquery.ajax-cross-origin.min.js' %}"></script>
    <script src='https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js'></script>
</head>
<br>
<ol class="breadcrumb">
        <li class="breadcrumb-item active"><center>You can click the buttons below to estimate the exchange rate for 7 days, 15 days, and 30 days as of today.</center></li>
    </ol>
<div class="container">       
    <div class="row">
         <div class="col">
            <div class="btns"> 
            <!-- <button class="btn btn-dark" onClick=getChartdata()>그래프 가져오기</button>-->
             <button class="btn btn-dark" onClick=getUsa()>7Days</button>
             <button class="btn btn-dark" onClick=getUsa15()>15Days</button>
             <button class="btn btn-dark" onClick=getUsa30()>30Days</button>

             </div>
        </div>    
    </div>

        <div class="graph">
            <canvas id="cnvs"  width="1200" height="600" ></canvas>

            <br>

            <!-- <div class="btns">
            <button class="btn btn-dark" onClick=getChartdata()>그래프 가져오기</button>
            <button class="btn btn-dark" onClick=getUsa()>7Days</button>
            <br>
            <button class="btn btn-dark" onClick=getUsa15()>15Days</button>
            <br>
            <button class="btn btn-dark" onClick=getUsa()>30Days</button>
            </div> -->
        </div>

      <!--using axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>  
    </div>
</div>

<script>

    function getUsa(){
        const url = 'api/graph/data/usa';
        fetch(url).then((res)=>res.json()).then((data)=>{
            console.log(data,typeof(data));
            const parsed_data = JSON.parse(data);
            console.log(typeof(parsed_data));

            paintChart(parsed_data);
            }).catch((err)=>{console.log(err);});
    }

    function getUsa15(){
        const url = 'api/graph/data/usa15';
        fetch(url).then((res)=>res.json()).then((data)=>{
            console.log(data,typeof(data));
            const parsed_data = JSON.parse(data);
            console.log(typeof(parsed_data));

            paintChart(parsed_data);
            }).catch((err)=>{console.log(err);});
    }

    function getUsa30(){
        const url = 'api/graph/data/usa30';
        fetch(url).then((res)=>res.json()).then((data)=>{
            console.log(data,typeof(data));
            const parsed_data = JSON.parse(data);
            console.log(typeof(parsed_data));

            paintChart(parsed_data);
            }).catch((err)=>{console.log(err);});
    }

    function paintChart(data){
        const dates = [];
        const values = [];

        data.forEach((obj)=>{
            dates.push(obj.date);
            values.push(obj.value);
        })

        const colors = [
            '#007bff','#28a745','#333333','#c3e6cb','#dc3545','#6c757d'
        ];

        const len=values.length;

        const chart = document.getElementById("cnvs");

        const pointBackgroundColors = [];
        const pointStyles=[];
        //const labels_date=[];
        
        const chartData = {
            labels: dates,
            datasets:[
                {
                    label:"USD",
                    data:values,
                    backgroundColor: 'transparent',
                    borderColor:'#6CA9AE',
                    borderWidth:3,
                    pointBackgroundColor:pointBackgroundColors,
                    pointStyle:pointStyles,
                    pointRadius:6,
                    pointHoverRadius:6,
                }
            ]
        }


        const myChart = new Chart(chart,{
            type: 'line',
            data: chartData,
            options:{
                scales: {
                    yAxes: [{
                        ticks: {
                        beginAtZero: false
                        }
                    }]
                },
                legend: {//범례 지정하고싶다면 true
                    display: false
                },
                title: {
                    display: true,
                    fontSize:25,
                    fontColor : '#FF9763',
                    text: "After "+len+" will be 1$ is " + values[len-1]
                    }         
            }
        });

        const dataLen = myChart.data.datasets[0].data.length;
        console.log('dataLen is',dataLen);

        for(let i=0;i<dataLen;i++){
            if(i==0){
                pointBackgroundColors.push('#EBE2D9');
                pointStyles.push('rectRot');
            }else if(i==dataLen-1){
                pointBackgroundColors.push('#FF9763')
                pointStyles.push('rectRot');
            }else{
                pointBackgroundColors.push('#6CA9AE');
                pointStyles.push('rectRot');
            }
        }
        myChart.update();
    }


</script>
{% endblock %}