{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- Header -->
<header class="bg-primary text-center py-5 mb-4">
    <div class="container">
      <h1 class="font-weight-light text-white">Let me introduce the members of the project team</h1>
    </div>
  </header>
  
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Team Member 1 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'stylesheets/image/Suhyeon.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Kim Su Hyeon</h5>
            <div class="card-text text-black-50">Web Developer, UI Design</div>
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'stylesheets/image/hyelyung.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Byun hye lyung</h5>
            <div class="card-text text-black-50">Machine Learning </div>
          </div>
        </div>
      </div>
      <!-- Team Member 3 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'stylesheets/image/MinAh.png' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Lee Min Ah</h5>
            <div class="card-text text-black-50">Web Developer, UI Design</div>
          </div>
        </div>
      </div>
      <!-- Team Member 4 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'stylesheets/image/HyeIn.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Jung Hye In</h5>
            <div class="card-text text-black-50">Machine Learning</div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->

{% endblock %}