{% extends 'base.html' %}
{% block content %}

<head>
    <style>
        .btns {
            margin: auto;
            flex-direction: row;
            align-items: center;
        }

        .content {
            padding: 2em;
        }

        .graph {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
    {% load static %}
    <!-- CORS library -->
    <script type="text/javascript" src="{% static 'js/jquery.ajax-cross-origin.min.js' %}"></script>
    <script src='https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js'></script>
</head>
<br>
<ol class="breadcrumb">
    <li class="breadcrumb-item active">
        <center>Validate how different the predicted data is from the actual data.</center>
    </li>
</ol>
<div class="container">
    <div class="row content">
        <div class="graph">
            <canvas id="cnvs" width="1000" height="400"></canvas>

        </div>
    </div>

    <script>
    function getVerfiyUsa(){
        const url = 'api/graph/data/usa_verify';
        fetch(url).then((res)=>res.json()).then((data)=>{
            console.log(data,typeof(data));
            const parsed_data = JSON.parse(data);
            console.log(typeof(parsed_data));

            paintChart(parsed_data);
            }).catch((err)=>{console.log(err);});
    }

    getVerfiyUsa();
    
    function paintChart(data){
        const dates = [];
        const values = [];
        const values2 = [];
        const values3=[];

        data.forEach((obj)=>{
            dates.push(obj.date);
            values.push(obj.value);
            values2.push(obj.value2);
            values3.push(obj.value3);
        })

        const colors = [
            '#007bff','#28a745','#333333','#c3e6cb','#dc3545','#6c757d'
        ];

        const chart = document.getElementById("cnvs");

        const pointBackgroundColors = [];
        
        const chartData = {
            labels: dates,
            datasets:[
                {
                    label:"Real",
                    data:values,
                    backgroundColor: 'transparent',
                    borderColor:colors[0],
                    borderWidth:1,
                    pointBackgroundColor:pointBackgroundColors,
                    pointStyle:'rectRot',
                    pointRadius:3,
                    pointHoverRadius:6,
                },
                {
                    label:"Predict1",
                    data:values2,
                    backgroundColor: 'transparent',
                    borderColor:colors[3],
                    borderWidth:3,
                    pointBackgroundColor:colors[0],
                    pointStyle:'rectRot',
                    pointRadius:3,
                    pointHoverRadius:6,
                },
                {
                    label:"Predict2",
                    data:values3,
                    backgroundColor: 'transparent',
                    borderColor:'#FFBB00',
                    borderWidth:3,
                    pointBackgroundColor:'#FFBB00',
                    pointStyle:'rectRot',
                    pointRadius:3,
                    pointHoverRadius:6,
                }

            ]
        }

        const myChart = new Chart(chart,{
            type: 'line',
            data: chartData,
            options:{
                scales: {
                    yAxes: [{
                        ticks: {
                        beginAtZero: false
                        }
                    }]
                },
                legend: {//범례 지정하고싶다면 true
                    display: true
                },
            }
        });

        const dataLen = myChart.data.datasets[0].data.length;
        console.log('dataLen is',dataLen);

        // for(let i=0;i<dataLen;i++){
        //     if(i==0){
        //         pointBackgroundColors.push('#19ff03');
        //     }else{
        //         pointBackgroundColors.push('#030bff');
        //     }
        // }
        myChart.update();
    }


</script>
{% endblock %}